[2015-05-06 15:13] SergeyBeliy opened #2 "Bad token"
Hi! I try to register with my phonenumber but I get {"status":"fail","reason":"bad_token"} response.
What i did wrong?

[2015-05-07 08:21] janpieterz commented on #2
Hi @SergeyBeliy,

I just pushed a fix to the master branch that uses the newer token generation method and confirmed it working! I hope this works for you.

[2015-05-07 08:21] #2 closed, assigned to nobody

[2015-05-08 23:31] w00000w5 opened #3 "thanks"
mr.sanderdriesen I need you email

[2015-05-12 04:11] eaba opened #4 "Not-Authorized"
How can I overcome the issue of Not-Authorized?

[2015-05-12 04:24] eaba opened #5 "mess.identifier_key.serverName"
mess.identifier_key.serverNickName is not resolving.
One more: i am able to send message but i am not able to receive.

[2015-05-12 07:10] sanderdriesen commented on #4
By signing in properly ;)

[2015-05-12 08:16] eaba commented on #4
I had to create an account which prompted me with the 'password'; i was using the wrong 'password', now signing in properly;
Please, i am able to send message; but when it is replied i cant see it or the app does not read it.

can i use this in windows service to push messages to contacts?

[2015-05-12 08:21] janpieterz commented on #4
Yes you surely can @eaba. You can see in the test application and in the port how to work with the API.

[2015-05-12 08:25] eaba commented on #4
I really want to do enterprise stuffs with it; like sending messages to hundreds of contacts at once; is there anything i need to pay attention to? Would whatsapp allow such? Do i stand a risk of being blocked?

[2015-05-12 08:39] janpieterz commented on #4
I would really look to what type of messages you'd be sending. Terms of conditions of the original one state that it should not be used for marketing or massive amounts of messages. Be careful and only use it for legitimate purposes. Spamming 100s of contacts at once certainly isn't. Sorry I can't help you further in this.

[2015-05-12 08:39] #4 closed, assigned to nobody

[2015-05-12 08:53] eaba commented on #4
Thanks. Am not using it for marketing. A2P stuff; I currently have a system where birthdays are sent to contacts using bulk sms and which allows user to send data to the system via sms. I just want users to be able to use whatsapp to do that in other to reduce user's cost. Please let me know if this is illegitimate?
Please kindly inform me on the max number of contacts one can push messages to at

[2015-05-12 08:58] janpieterz commented on #4
I'd be very careful with the nature of your messages and read more about this and possible consequences. I'm not able to tell you specifically if your use case would run the risk of being blocked.

[2015-05-12 08:59] #5 closed, assigned to nobody

[2015-05-12 09:00] janpieterz commented on #5
I assume this is sorted given the other issue's progression?

[2015-05-12 09:00] eaba commented on #4
Please kindly direct me to relevant resources for this. Thanks

[2015-05-12 09:02] janpieterz commented on #4
There you go. Long document but should give you what you need.
http://www.whatsapp.com/legal/

[2015-05-12 09:10] eaba commented on #4
Hey! I appreciate your time spent replying me. thanks. I will go through the doc.

[2015-05-13 03:41] sebas0066 opened #6 "i cant sendmessageImage"
hi, i using visual basic 2013 and i cant Use the sendMessageImage() i mean, i dont get any error but the image dont arrive to my cel phone, Some one can help me?, i let the code that i try to use for send the pic.

Dim usrMan As New WhatsAppApi.Account.WhatsUserManager()
Dim tmpUser = usrMan.CreateUser(Num, "Contacto")
Dim ImageData = File.ReadAllBytes("C:\WhatsApp\Image\12.JPG")
Dim toNum = tmpUs

[2015-05-13 10:30] janpieterz commented on #6
Hi @sebas0066
Perhaps you can try the following? Please excuse my lack of VB knowledge ;)

[code]

Perhaps you could try debugging it to see if it really is sent over the socket, and verify it is using the right number as well (keep in mind it's supposed to be an international number without leading 0's or +'s, so including country code).

[2015-05-13 13:13] sebas0066 commented on #6
Thanks janpieterz for answer, i try this and this is what i see in debug
![image1](https://cloud.githubusercontent.com/assets/10898261/7611049/0493777c-f958-11e4-9d71-ebc53ce1b981.jpg)

i wrong or in serverName must have some data?, i dont know what i doing worng.. actually i using VB but like a web service not win Forms.. another idea that i can try?.
Regards.

[2015-05-13 13:27] janpieterz commented on #6
Not sure if you're using the source or a compiled DLL for this, but perhaps you could debug into the SendMessageImage method itself and see what's going on? For example, your socket might be setup in the wrong way and be disconnected. Stepping into the code behind should show some kind of insight in why it's not going as expected.

Just to confirm, are you able to send a text message? If you are t

[2015-05-13 13:38] sebas0066 commented on #6
yes i can send text messages and even i can receive text, image, video and audio, but cant send (image, video, audio) Only text i can send.

## Tihis is how i set the wa Instance

[code]

## And i Use this Handdler

[code]

[2015-05-13 13:46] janpieterz commented on #6
I assume this won't fix a lot, but perhaps try instead of

[code]

this

[code]

Besides that, could you perhaps debug into the SendMessageImage method, and basically walk the sending of the message towards the actual send over the socket? There must be something somewhere, a handled but unexpected exception, an if statement about message type or something else that is not giving you the right res

[2015-05-13 13:54] sebas0066 commented on #6
if you Have a Time i can send you the project by email that way when you have a momment mabe can give me  hand or two ;D because it will cause me a brain explode.

[2015-05-13 14:13] janpieterz commented on #6
Hi @sebas0066.

I'm currently busy but will have some time later today (I'm in the Netherlands).
Could you contact me on twitter so we can set it up? Might be helpful to perhaps setup a teamviewer connection for example so it runs totally on your environment.

My twitter handle is janpieter_z

[2015-05-13 14:24] sebas0066 commented on #6
yes, thank you, i will contact you through the day.

[2015-05-15 13:53] KapteinBabbalas opened #7 "WhatsAPI Net - Keep it alive !"
Hi Sander,
I would like to contribute to the .net version of WhatsApi.
I have been using it for a while ,  but I see that people are removing it from their repo's because of threats from WhatsApp ( guys like Team Venomous )
It would be a shame to see this project die.
Will you send me a personal message to discuss this further?

[2015-05-17 10:41] azernadeem commented on #6
Need your support to send Images through API.

[2015-05-18 00:29] sebas0066 commented on #6
Hi azernadeem i cant contact janpieterz because i'm out of my work until tomorrow, if you have a problem with the API, post it, that way they can help you, in this moment i cant send image too, but i cant continue with this api by family problems.

Regards

[2015-05-19 02:44] ccejas commented on #6
Hi guys! if you try send image with PhoneNumber@s.whatsapp.net it works fine!!!!!

[2015-05-19 06:33] sebas0066 commented on #6
i Using this code

Dim usrMan As New WhatsAppApi.Account.WhatsUserManager()
Dim tmpUser = usrMan.CreateUser(Num, "Contact")

Dim ImageData = File.ReadAllBytes("C:\WhatsApp\Image\12.JPG")
Dim toNum = tmpUser.GetFullJid()
 wa.SendMessageImage(toNum, ImageData, ApiBase.ImageType.JPEG)

but it dont send the image, while i debugging i get this message:
![image2](https://cloud.githubusercontent.com/asse

[2015-05-19 11:57] ccejas commented on #6
Ok, did you try compile the solución and use the generated dll?? I did that and it works fine!

[2015-05-19 12:36] sebas0066 commented on #6
yes i do that too, even i created another web project on the solution on this repo i set references on it, but even on that way it dont send the image.. and i dont have more ideas. :(

[2015-05-19 14:53] ccejas commented on #6
ok, I modified the code, try change this line -> while (this.uploadResponse == null && i <= 20), replace 20 by 50, there are times that I not receive the uploadResponse because 20 is small. This line is in UploadFile method in the WhatsApp class. Good Luck! ;)

[2015-05-19 15:47] ccejas commented on #6
Other reason it doesn't work is in your code, you need execute PullMessages, if you don't do it never will receive uploadResponse message

[2015-05-19 16:49] sebas0066 commented on #6
i will try this thanks for support. :D

[2015-05-20 04:38] sebas0066 commented on #6
Hi ccejas, i have update the code like you tell me but still not working :(  even with pollMessages it dont works. another idea?.

[code]

[2015-05-20 13:27] ccejas commented on #6
you need execute PollMessages() in parallel, put that method in a thread ;)

[2015-05-21 11:30] sanderdriesen commented on #7
Hi @KapteinBabbalas,
As a contribution you are always welcome to submit any pull requests. We will submit your change to the fork after reviewing.

[2015-05-21 11:35] sanderdriesen commented on #3
If you have any question about or issue with WhatsAPINet we are willing to help you using the issue tracking of GitHub.

[2015-05-21 11:37] #3 closed, assigned to nobody

[2015-05-21 11:37] #7 closed, assigned to nobody

[2015-05-21 15:33] sebas0066 commented on #6
i have not idea how to do the parallel execute :(

[2015-05-22 09:22] janpieterz commented on #6
@sebas0066
Parallel executing is very valuable in this type of application, so I'd suggest trying some tutorials first with random apps and figuring out how to deal with it. As said above I only know C#, though the API used will be the same. I've looked up some tutorials and stuff for VB.NET:
[MSDN - Multithreading in Visual Basic](https://msdn.microsoft.com/en-us/library/eed6swsx%28v=vs.90%29.asp

[2015-05-23 00:30] w00000w5 commented on #3
thanks

[2015-05-28 13:33] janpieterz commented on #6
@sebas0066 have you been able to make any progress on this? I've pasted below our C# implementation.

[code]

[code]

[2015-06-02 11:23] dholakiyaankit opened #8 "Receiving messages isn't working"
Hey, I just see that receiving messages isn't working....is this not possible? or should I invoke some method to retrieve it?

[2015-06-02 13:54] ccejas commented on #8
Hi! In the project WhatsTest you have an example that explain how to use

[2015-07-19 10:19] sushi86 opened #10 "Since 17.07.2015 cant login"
With each login I get:

Login failed. Reason: not-authorized

yowsup is working fine, but I have to update it, before I get the same error. Some Whattsapp API Changes?

greetz

[2015-07-19 22:05] MarneeDear commented on #10
Having the same problem here.  I can confirm that my number and password are working on yowsup.

[2015-07-20 05:52] sanderdriesen commented on #10
Thanks for reporting this issue. I just pushed the fix for this issue.

[2015-07-20 05:52] #10 closed, assigned to nobody

[2015-07-20 05:55] sanderdriesen commented on #8
@dholakiyaankit can you confirm whether the comment of @ccejas helped you out with receiving images?

[2015-07-20 05:56] sanderdriesen commented on #6
@sebas0066 do you still need support on this? Otherwise I will close this issue.

[2015-07-20 06:08] dholakiyaankit commented on #8
@sanderdriesen  not really.

[2015-07-20 06:11] sanderdriesen commented on #8
Can you share your code and some more information about what you tried so we can help you out?

[2015-07-20 06:16] dholakiyaankit commented on #8
@sanderdriesen  actually I don't have it. I tried this demo. it is working fine for sending messages. but I realized there is no code for receiving messages. can you show me some code/logic/demo for this?

[2015-07-20 06:23] sanderdriesen commented on #8
There are some events available in the WhatsApp class indicating that a message is received. You can use it like this:

[code]

Is this what you was looking for?

[2015-07-20 06:25] dholakiyaankit commented on #8
@sanderdriesen  yeah actually. Thanks for the help. I will checkout later and will let you know.

[2015-07-20 06:25] #8 closed, assigned to nobody

[2015-07-20 08:40] sushi86 commented on #10
Thanks for this fast fix!

[2015-07-20 08:44] sanderdriesen commented on #10
You're welcome!

[2015-07-21 12:59] sebas0066 commented on #6
Hi @sanderdriesen , i cant resolve this issue. i mus susspend my develoment for now by personal reasons. if somebody have a solution please help!.

[2015-07-23 05:17] urfrndsandy commented on #7
Dear Devs there is an error in WhatsMessageHandler at line 42 that says serverNickname is not in the context, may be another cs file was missed in the commit. @KapteinBabbalas can you fix this please?
Also two events for OnGetMessage are not fixed.

[2015-07-23 05:22] KapteinBabbalas commented on #7
Hi @sanderdriesen I'll have a look at it

[2015-07-23 06:04] KapteinBabbalas commented on #7
Hi Sander

I fixed it, sent you a pull request.

Pieter

On 23 July 2015 at 07:17, urfrndsandy notifications@github.com wrote:

[2015-07-27 05:44] sujeet-bhujbal opened #13 "not-authorized error,"
i'm receiving not-authorized error, when i'm invoking wa.Connect(). Can anyone help me??

[2015-07-27 05:47] sanderdriesen commented on #13
Hi @sujit9923, this guy has already been fixed. Please ensure that you update to the latest version.

[2015-07-27 07:37] sujeet-bhujbal opened #14 "SocketException An established connection was aborted by the software in your host machine"
Hi
I have downloaded new Code  and I am getting below error

SocketException An established connection was aborted by the software in your host machine at      wa.SendMessage(tmpUser.GetFullJid(), line);

Please let me know

[2015-07-27 07:49] sanderdriesen commented on #14
This is a very general exception that occurs when the connection is closed on whatever reason. Very common using sockets. Can you share more information about how you initialize WhatsApp and how you create the tmpUser? Does this error always occurs or sometimes?

[2015-07-28 08:38] sujeet-bhujbal commented on #14
Hi Sanderdriesen,
When ProcessChat method is invoked I am getting error at WhatsNetwork.cs Class while sending socket data

  private void Socket_send(byte[] data)
        {
            if (this.socket != null && this.socket.Connected)
            {
                try
                {

[code]

Please let me know why this is occur

[2015-07-28 09:27] urfrndsandy commented on #7
@KapteinBabbalas  thanks a ton bro, i think Sander is busy with something, if it is allowed can you send me the updated .cs or lines or the package? please..

[2015-07-28 09:39] KapteinBabbalas commented on #7
Hi

Cool no problem, glad I could help.
I cannot send the package as Gmail blocks the attachment.

Here is a dropbox link for the entire solution
https://www.dropbox.com/s/dww3ctonjzcfrml/WhatsAPINet.rar?dl=0
The fixes was in the WhatsTest project--events that needed extra parameters.
In the WhatsAppPort project -- a reference to a  "serverName' string that
was renamed in the Api itself.

On 28 Ju

[2015-07-28 11:44] urfrndsandy commented on #7
@KapteinBabbalas thanks a Tonne... but still am unable to make it receive messages. Can you help me on that please.. I have added OnMessage recieved event and also have an event defined to handle messages but it doesnt seem to work

[2015-07-28 12:20] sujeet-bhujbal opened #15 "1st Time WhatsApp API sending message but second time it is not sending message"
Hi Team,

I am using WhatsApp API for one of the requirement , when 1st time i am sending any whats-app message it is sending correctly but when second time i am sending message it is showing success message but message is not delivered to recipient whats-app inbox.

Please let me know what is wrong happening

[2015-07-28 13:52] KapteinBabbalas commented on #7
Did you manage to get it to work?

On 28 July 2015 at 13:44, urfrndsandy notifications@github.com wrote:

[2015-07-30 03:58] urfrndsandy commented on #7
@KapteinBabbalas  no bro not yet.. and not sure why aint getting messages

[2015-08-01 22:40] abu-sraag opened #17 "i'm receiving not-authorized error loging"
i am download link this : https://www.nuget.org/packages/WhatsAppAPI

and this code :

WhatsApp wa = new WhatsApp(MyNumber, Mypassword, nickname, false,false);
            wa.OnConnectSuccess += () =>
            {
                MessageBox.Show("Connected");
                wa.OnLoginSuccess += (phoneNumber, data) =>
                {
                    MessageBox.Show("Connection success!");

[2015-08-03 12:46] janpieterz commented on #17
Hi @abu-sraag.
We're not responsible for that nuget package (if you follow the link[1] you'll also see that it goes to the repository of andregsilv who forked it from us).
If you'd like to try our code I suggest downloading it and building it yourself, it should be pretty straightforward since it's just a Visual Studio project. That build will give you the dll you'd like to use, otherwise I sugges

[2015-08-03 12:48] janpieterz commented on #15
Hi @sujit9923.

Could you provide some more information on how you set your code up? Is it every first time you run the code? Or is it every first time with a new number? Or every first time with a new message?

If it is every first time you run the code it seems like you're implementation is missing certain parts. Perhaps you can debug your code and watch the locals deep inside WhatsApi to see if

[2015-08-03 12:49] #13 closed, assigned to nobody

[2015-08-03 12:49] janpieterz commented on #17
As a sidenote, we've fixed an issue that sounds very similar recently in this repository, so I think if you update to our version you might get it working! At least worth a shot ;)

[2015-08-03 13:29] sujeet-bhujbal commented on #15
Hi janpieterz ,

I already sent messages by using Whatsapp code but now My Whatsapp account has been blocked by whatsapp getting error whatsapp is no longer allowed to use our service.

Why this happen???

[2015-08-03 13:33] janpieterz commented on #15
Hi @sujit9923

Sadly we can't help you any further in that case. Please check http://www.whatsapp.com/legal/.

[2015-08-03 13:33] #15 closed, assigned to nobody

[2015-08-04 09:20] abu-sraag commented on #17
Already updated to the latest version but it seems that the file is updated from the source

I download from the link, but did not know the method of operation and the recall, and there are several projects within the project just need the transmission process, what's the class or do I need if you indicate to me that Thank you for your response

[2015-08-04 09:45] abu-sraag commented on #17
I've I copy the file dll from folder to folder Debug To source and worked successfully
Thanks you dear :)

I have several questions
1. How can I check the numbers that enabled them whatsapp August as a process of examination.
   ex : number : 999xxxxxx enable whatsapp or not ?
2. How do I know the message arrived or not.

3 - the maximum in order to send are not taken to ban the figure whether the

[2015-08-07 02:42] abu-sraag opened #18 "not running Sending image via whatsapp api using c#"
hello i'm trying to send an image using c#

but the image not delivered and there is no exception message !!!

here's my code

byte[] img = File.ReadAllBytes("e:\img.gif");
    wa.OnConnectSuccess += () =>
    {
        MessageBox.Show("Connected to whatsapp...");

[code]

 }

[2015-08-07 02:43] abu-sraag commented on #18
byte[] img = File.ReadAllBytes(@"e:\img.gif");
wa.OnConnectSuccess += () =>
{
MessageBox.Show("Connected to whatsapp...");

[code]

[2015-08-07 06:14] sanderdriesen commented on #18
How do you create the FMessageIdentifierKey represented by the 'to' variable?

[2015-08-08 05:35] abu-sraag commented on #18
I did not understand me corrected the error

I did not understand your words where what is wrong (FMessageIdentifierKey )?

Is there a reference wiki

Note that it does not appear any error just are not sen

[2015-08-08 05:42] abu-sraag commented on #18
i am edit
    wa.SendMessageImage(tbto.Text,img,ApiBase.ImageType.GIF);

not send what is wrong ?!

[2015-08-13 18:49] janpieterz commented on #17
Hi @abu-sraag

We're unable to provide you with this kind of support, sorry!
Please familiarize yourself with other repositories out there, the sample projects in the code and besides that just reading the code.

[2015-08-13 18:49] #17 closed, assigned to nobody

[2015-08-22 07:06] urfrndsandy commented on #7
@KapteinBabbalas bro can you get messages in the current issue?

[2015-08-24 07:32] KapteinBabbalas commented on #7
Yes I can, double check that you are actually logged in, not just connected.
Step through the code at the part where it logs in, then check the connection status.

[2015-08-24 12:05] urfrndsandy commented on #7
Thanks bro.. i will try that and let you know.

On Mon, Aug 24, 2015 at 1:02 PM, KapteinBabbalas notifications@github.com
wrote:

##

[2015-08-27 12:10] janpieterz commented on #18
Hi @abu-sraag

There is no reference wiki. This is just an open source effort to allow people to play with the service, and nobody is investing a lot of time to make it that accessible for developers, precisely because it's just meant for playing so developers can find out this stuff for themselves.
There should be some sample code in the projects that should help you slightly and besides that jus

[2015-08-27 12:10] #18 closed, assigned to nobody

[2015-08-27 12:11] janpieterz commented on #14
@sujit9923 could you look at Sander's question and show us how you initialize WhatsApp?
As Sander also said, this is a very generic error, so please look over your code and see if you keep the right things in memory and try to debug to see where the socket loses it's connection.

[2015-09-12 10:56] eaba commented on #14
I am getting same issue......I am running my on Owin SelfHost on IIS...and also attempting create multiple instances of it...... i have also upgraded .net to 4.5..... Will it work for my scenario?

[2015-09-17 22:46] bekeer020 opened #19 "lost connection after some minutes"
Hi sanderdriesen
i use Whats Test Project "console application"
it is working fine with me send and receive no problem
but after some minutes i lost the connection ,i can not receive any message from others.
my question is how to keep it live? ,i want any time can receive messages from other numbers

[2015-09-22 15:01] Worldexe opened #20 "Incorrect LastSeen time"
I am trying to get LastSeen time for a certain phone (code simplified):

[code]

I always get wrong and random (!) values. Two queries, immediately following one another, for the same phone, produce different (+/- 10 days!) results. For testing, I have two phone numbers, one of them does not have WhatsApp account at all, second one have it up and running (with official app), so I pretty sure about

[2015-11-05 08:04] KapteinBabbalas commented on #7
Hi Sander

I have problems logging in my numbers this morning, even after I used the
latest version of the code and register I get an unauthorized message.
Maybe Whats App changed something, because the numbers are not blocked.

Just want to know if anybody else have these issues today

On 28 July 2015 at 15:52, Pieter Fouché pieterf33@gmail.com wrote:

[2015-11-05 09:25] urfrndsandy commented on #7
@KapteinBabbalas  yes bro.. same problem here..

[2015-11-05 09:30] urfrndsandy commented on #7
@KapteinBabbalas also surprisingly https://github.com/mgp25/Chat-API-NET is working...

[2015-11-05 09:35] KapteinBabbalas commented on #7
I also noticed that

On 5 November 2015 at 10:30, urfrndsandy notifications@github.com wrote:

[2015-11-05 09:50] urfrndsandy commented on #7
@KapteinBabbalas did you manage to parse incoming messages?

[2015-11-05 12:39] KapteinBabbalas commented on #7
Hi Sander

I could receive incoming messages since I couldn't log in, with the
CHAT-API-NET code it everything worked as it should.

On 5 November 2015 at 10:50, urfrndsandy notifications@github.com wrote:

[2015-11-06 18:59] khaf0 opened #23 "Encrypt message"
hello, when I use test project on
static void wa_OnGetMessage(ProtocolTreeNode node, string from, string id, string name, string message, bool receipt_sent)
        {
            Console.WriteLine("Message from {0} {1}: {2}", name, from, message);
        }
I get message like this
message = "3\b���!�H�Q(�׿�H@�M�U;+\r�(���%��\"!�â�x���\v�/އ���Q�3�)�VOZ:�\"C3\n!\r\te���̼��$:��y�Y��

[2015-11-06 19:39] khaf0 commented on #23
update
when I recive message in group I get message without encrypt,but when i recive whisper message i get message with encode...
children tag = "body" in recived message in group
and
children tag = "enc" in recived message in whishper

[2015-11-07 04:52] urfrndsandy commented on #7
@KapteinBabbalas can you share the method used to parse messages?

[2015-11-07 11:07] KapteinBabbalas commented on #7
I couldn't parse incoming messages,I'm trying to see the difference between CHAT-API and WhatsAPINET in the login process

[2015-11-08 11:02] PeterHunt opened #25 "Still unauthorized after login"
A few days ago (nov 5th around 1AM) this issue started. The API has been updated, I downloaded and updated my project as well, but unfortunately I'm still experiencing the same issue...

[2015-11-08 18:37] PeterHunt commented on #25
Ok my mistake, all is OK now :)

[2015-11-08 18:37] #25 closed, assigned to nobody

[2015-11-08 20:33] PeterHunt commented on #23
Just want to let you know I'm experiencing the same and waiting for a solution as well :)

[2015-11-08 20:45] janpieterz commented on #23
If one of you is willing to tackle this and open a pull request, you'd be more than welcome.

[2015-11-09 10:09] janpieterz commented on #19
I'm sorry, this sounds like a local issue. Please check how your machine handles the socket.

[2015-11-09 10:09] #19 closed, assigned to nobody

[2015-11-09 10:09] #6 closed, assigned to nobody

[2015-11-09 10:10] janpieterz commented on #14
This should work. The issue is most likely with your local machines or firewalls tackling this. In case you find something structurally wrong please create an issue, otherwise use StackOverflow to ask questions on how to implement this right.

[2015-11-09 10:10] #14 closed, assigned to nobody

[2015-11-10 16:58] PeterHunt commented on #23
I know "yowsup" is still working fine and I read something about decoding/cipher/RC4 in this project, but unfortunately this is beyond my knowledge :(

[2015-12-01 17:56] ricardoperovano opened #27 "Error OnGetMessageReadClient"
Sorry, but I'm very confusing with this log:
It seems like its duplicating the txs, and when the onGetMessageReadedClient is fired just message are read, this is the log:

[code]

[2015-12-03 22:35] KapteinBabbalas commented on #7
Hi Sander

Looks like they (WhatsApp) changed something again, getting unauthorized
message again.
The mgp25/Chat-API-NET also gives the same error. Are you also having this
issue?

On 5 November 2015 at 09:03, Pieter Fouché pieterf33@gmail.com wrote:

[2015-12-03 22:38] SkullyDev commented on #7
Same here
Can't reregister with WART... Tells "old_version"

[2015-12-04 05:42] kunalsmehtajobs opened #28 "Login failed"
Hi,
I am getting the Login Failed error.
It was working till yesterday.
May be the whatsapp version is updated.
Can you check this?
Regards
Kunal

[2015-12-04 06:23] KapteinBabbalas commented on #7
Hi Guys

Got the  mpg25/chat-api working by just updating the new constants values
that is used in the original PHP lib.
But when I tried to make the changes in this one , it still won't work.

On 3 December 2015 at 23:38, SkullyDev notifications@github.com wrote:

[2015-12-04 07:39] urfrndsandy commented on #7
@KapteinBabbalas can you please guide me what exactly you changed?

[2015-12-04 08:47] KapteinBabbalas commented on #7
Hi

Shure no probs:

In the file WhatsAppApi/Settings:

public const string WhatsAppVer = "2.13.21";
public const string UserAgent = "WhatsApp/2.13.21 S40Version/14.26
Device/Nokia302";

thats it.

On 4 December 2015 at 08:39, urfrndsandy notifications@github.com wrote:

[2015-12-04 11:09] PeterHunt commented on #28
Same issue here :(

[2015-12-04 11:41] urfrndsandy commented on #7
@KapteinBabbalas thank you!!!.. it worked perfectly to me.

[2015-12-04 12:20] kunalsmehtajobs commented on #28
I feel the WhatsApp version is changed to 2.13.21. Can anyone let me know what are the other things we need to change?

[2015-12-05 09:05] PeterHunt commented on #7
Works for me as well, thanks!

[2015-12-06 13:22] kunalsmehtajobs commented on #28
Cahnge these files and the issue is fixed

WhatsConstants.cs

public const string WhatsAppVer = "2.13.21";//"2.12.96";
public const string UserAgent = "WhatsApp/2.13.21 S40Version/14.26 Device/Nokia302";

WaToken.cs
string token = "PdA2DJyKoUrwLw1Bg6EIhzh502dF9noR9uFCllGk1447796090073" + number;

[2015-12-07 10:49] urfrndsandy commented on #7
@PeterHunt can you receive the messages?

[2015-12-07 10:54] PeterHunt commented on #7
No, that is the other issue; encryption. Sending is no problem.

[2015-12-07 10:56] urfrndsandy commented on #7
am having a hard time receiving messages, can someone help me on this?

[2015-12-07 10:57] PeterHunt commented on #7
Don't you receive anything at all, or gibberish?

[2015-12-07 11:01] urfrndsandy commented on #7
i dont receive anything. Could you parse it? if so could you please share the code.

[2015-12-07 15:08] SkullyDev commented on #7
@KapteinBabbalas hey where do you find these version strings, if not a secret just to know on future? :D

[2015-12-07 17:35] KapteinBabbalas commented on #7
https://github.com/WHAnonymous/Chat-API

[2015-12-24 11:33] abhith commented on #28
I had the same problem.
Its been solved by using the current github project build of WhatsAPINet rather than the NuGet package.

[2015-12-29 00:24] KapteinBabbalas opened #29 "Incoming Messages are encrypted"
Hi Guys, just noticed that my incoming messages are now encrypted for some reason.It started doing this a few hours ago, WhastApp probably changed something.I also noticed that not all my numbers are affected but only some of them. I also tested this on the mgp25/Chat-API-NET version..also doing the same thing there.

[2015-12-29 06:29] yniv commented on #29
Yep...  the c# API's doesn't support the axolotl encryption. WhatsApp finally rolled the change to make all numbers use encryption. SO, until chat-api-net or any other c# api will support it they are all useless.... :-/

[2015-12-29 07:05] kunalsmehtajobs commented on #29
Can sombody fix this issue? Any updates on the same? I mean, is sombody working on this?

[2015-12-29 08:25] KapteinBabbalas commented on #29
I just received a crappy response from mgp25/Chat-API-NET regarding this issue:

"this normal, read other issues. The .NET API doesnt support E2E encryption, if you want to read encrypted messages use the php API"...so I guess nobody cares about this? Its strange because I've been using this API for a year and only now it is receiving messages as encrypted.

[2015-12-29 08:44] janpieterz commented on #29
People probably care about this, but don't have the time and resources (read: money) to invest in fixing it. To keep this project up and running costs quite a lot of time which, speaking for myself, I simply don't have for quite some time of the near future, paying customers have precedence over hobby projects ;)

[2015-12-29 08:51] KapteinBabbalas commented on #29
I'm a .Net developer with 3.5 years experience and I have the time to do this, but not the understanding of what exactly to do. If somebody can guide me I would be glad to spend some time on this. Anybody who understands what needs to be done but don't have the time/money can contact me.I see that there are some guys in the Netherlands, I'm also in the Netherlands so maybe we can meet sometime and

[2015-12-29 08:53] janpieterz commented on #29
@KapteinBabbalas I'd say take a good look at why the PHP one works and ours not. There must be some decryption and encryption stack there that takes care of handling this, which probably would be just in front and after sending / receiving it to WhatsApp. I have nothing more specific, but I'd take the PHP source and dig there, compare entry points to WhatsApp and work with it from there.

[2015-12-29 08:53] janpieterz commented on #29
You can easily fork this repo and start your own since you seem to be quite active!

[2015-12-29 09:16] KapteinBabbalas commented on #29
From what I can see is that the PHP lib uses 'libaxolotl-php' to handle the encryption, the WhatsApp .Net version does not have that.I also looked for a .net version of TextSecure and found this https://github.com/hope15/TextSecure-PC.NET  but it looks outdated. We need to implement TextSecure in some way. Any suggestions? Update..found this: https://github.com/langboost/libaxolotl-uwp which looks

[2015-12-29 09:44] janpieterz commented on #29
Second one seems better (only because it is newer). I don't have any insight in which one would work best. Keep in mind that you're going to have to maintain the dependency so checking with the authors to see if they still actively support it is probably a good idea.

[2015-12-29 12:56] kunalsmehtajobs commented on #29
Please do the needful to integrate the same. Php one seems to work fine

[2015-12-29 14:51] #28 closed, assigned to nobody

[2015-12-30 04:35] kunalsmehtajobs commented on #29
@KapteinBabbalas: Mine is not even getting logged in. Please guide me how do I successfully log in.

[2016-01-13 02:41] sebas0066 opened #30 "SendSync takes to long to result"
Hi, i have a issue ussing SendSync

when i execut this command tankes too long to get the result, like 2 minutes for one number

i use the commando like this, variable contact

[code]

after i take the result in the OnGetResultSync instance

[code]

this example is for one number and this take too long to get the result, any help?

[2016-01-15 14:30] fanducoder commented on #29
is anyone working on encrypted messages issue ?

[2016-01-15 15:04] sebas0066 commented on #20
i have the same issue, any solution?.

[2016-01-15 16:23] KoosKombuis commented on #29
I think mgp25 is busy with it. read this https://github.com/mgp25/Chat-API-NET/issues/134

[2016-01-15 18:41] Worldexe commented on #20
It appears WA is not following XMPP strictly, this method of getting last user status does not work.
To get user' status you need to use `SendPresenceSubscriptionRequest()` and listen to `OnGetPresence` event.
Also, that event handling should look like this (see `WhatsSendBase.cs:236`)

[code]

Event signature also should be changed.

[2016-01-22 15:57] Csharper1972 opened #31 "How do i get a password ? Getting exception The input is not a valid Base-64 string as it contains a non-base 64 character..."
I'm using the code from the project the WhatsTest
And when i'm running the program i'm getting exception:
On this line:

return Convert.FromBase64String(this.password);

The exception is:

The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or an illegal character among the padding characters.

I didn't change the password variable cont

[2016-01-25 09:37] thiagoxti opened #32 "Incoming messages are encrypted"
Sorry for the English , I am Brazilian and I speak very little. Signed up a new number for sending and receiving messages , however it seems that all the incoming messages are encrypted. How to solve it? Need help.

Grateful right now !

[2016-01-25 09:45] #32 closed, assigned to nobody

[2016-01-25 10:01] thiagoxti commented on #29
I think that for all this is pretty important . So I see that one of the problems is that there is no time or money. I think every person here has an interest should help . I propose a donation to to solve this problem . My part will be $ 100.00, by paypal.

I know it's little, but if everyone who is interested do it well , it will be very good.

[2016-01-25 10:05] KapteinBabbalas commented on #29
There has been some progress, looks like there is only a few small but crucial changes to be made.
https://github.com/mgp25/Chat-API-NET/pull/142

[2016-01-25 10:08] thiagoxti commented on #29
Thanks @KapteinBabbalas

[2016-01-28 06:57] srijackec opened #33 "Sockets receive hangs"
receiveLength = socket.Receive(buff, 0, length, 0);
Application stops here inside the WhatsNetwork.cs.. Any Suggestions?

[2016-03-15 13:38] khaledsalama commented on #29
Is there any update regarding this issue?

[2016-03-23 07:58] dennisctp opened #34 "login failed : not - authorised"
Hi,
from my understanding, it should be due to whatsapp version being obsolete and the following should be updated:
WhatsConstants.cs

public const string WhatsAppVer =
public const string UserAgent =

WaToken.cs
string token =

can someone let us know how to retrieve the updated constant strings so that we can contribute faster ?

@kunalsmehtajobs i saw your post in previous issue. can you share

[2016-03-23 20:55] PeterHunt commented on #34
In WhatsConstants.cs, change the version to **2.13.440**

[code]

This worked for me.

[2016-03-24 12:11] dennisctp commented on #34
@PeterHunt
thanks for the reply, its working now. can you share how to know whats the version to change ?
your help is much appreciated

[2016-03-24 12:55] PeterHunt commented on #34
Hi Dennis,

I found this version on a different project. Not sure if this is the latest version, but at least it seems to be accepted by WhatsApp. Maybe some kind of auto-upgrade needs to be implemented?

Now I checked the WhatsApp site, the latest version actually seems to be **2.12.555**. Maybe there can be found a way of checking/stripping this line if the current version fails upon Api version

[2016-03-24 12:56] PeterHunt commented on #34
https://www.whatsapp.com/android

`<p class="version" align="center">Version 2.12.555</p>`

[2016-03-24 15:55] dennisctp commented on #34
Thanks @PeterHunt
the useragent using in this project is Nokia S40
the one u retrieve in previous post is the android version

i did try and changed to 2.13.440 and it worked

from my understanding, its because whatsapp will mark certain version as obsolete and force the user to upgrade to newer version.

[2016-03-30 06:29] familiarh opened #35 "Frequent wa_OnGetPresence async call"
In the code I have subscribed to presence subscription request using the code

wa.SendPresenceSubscriptionRequest(tempuser.Jid);

I am getting wa_OnGetPresence  called frequently with type "unavailable" for few numbers even though they were not online previously, Ideally a user should come online first and then when he closes his / her whatsapp it should give an "unavailable" status.

Hope I was c

[2016-03-30 23:32] andy-soft opened #36 "Form app. Register-Request returns: "fail", "old version""
Hello, tried to make a enroll, and the WhatApp API returned

"old version"

Then I saw a post about the "version-problem", and changed the constants in the WhatsConstants.cs file towards "2.13.440"
At both constants: "WhatsAppVer" as well as in "UserAgent"

After this, it gave a new error response:
 "bad token"
(which I saw is elaborated with a complex number and a hash operation)

Is there someth

[2016-04-13 07:27] srijackec opened #37 "Auth response error"
Getting this error for the past one week can not send any message. Is it because of whatsapp's end to end encryption? How to rectify this?

[2016-04-18 17:31] dennisctp commented on #37
its due to whatsapp made the version and token obsolete
we need a newer version and token
so far what i tried is not working

[2016-04-29 05:02] urfrndsandy commented on #7
hi Guys.. it has stopped working again.. any solutions this time? @KapteinBabbalas @PeterHunt @sanderdriesen

[2016-04-29 10:00] PeterHunt commented on #7
It stopped working for me as well about a month ago. Actually I gave up on this API more or less...

[2016-05-02 09:34] urfrndsandy commented on #7
no other way out?

[2016-05-02 09:42] KapteinBabbalas commented on #7
I have also given up on this. WhatsApp is in the process of making a public api (for Business use ) available. [http://www.forbes.com/sites/parmyolson/2016/01/18/whatsapp-businesses-free-1-billion/#21049f95b6bd](url)

If you want to build bots, Microsoft has realeased a bot framework from where you can create bots and just connect the bot to multiple platforms, like skype for example. [https://dev

[2016-05-02 09:55] urfrndsandy commented on #7
Thanks @KapteinBabbalas .. sadly.. end of our projects.

[2016-05-02 15:23] PeterHunt commented on #7
For what it's worth, my application connects fine, but after +/- 1 minute
it closes with a "stream error".

rx /stream:error
02-05-2016 - 17:19:58 - [Connect] Connected..
02-05-2016 - 17:19:58 - [Debug]

Within that minute I can send messages...

2016-05-02 11:55 GMT+02:00 urfrndsandy notifications@github.com:

[2016-05-03 04:51] urfrndsandy commented on #7
@PeterHunt now even the WART is not working for me to test it :( sad that we are near to the end.

[2016-06-01 00:25] KduOliva opened #38 "is this really work or have the same issues thats WhatsApi has?"

[2016-07-26 04:09] SuYeeHlaing commented on #36
Hello,
I also encountering this issue `{"status":"fail","reason":"old_version"}` while I trying to register ph no.
How did you ppl solve this one ? Anybody willing to help me?

`public const string UserAgent = "WhatsApp/2.13.21 S40Version/14.26 Device/Nokia302"`

Thank you.

[2016-07-28 08:56] urfrndsandy commented on #7
any update guys? yowsup is working fine by the way

[2016-10-03 10:18] AkashFasara opened #39 "Form app. Register-Request returns: "fail", "old version""
Hello,

I m getting this error while registering through latest project of GitHub.

"fail", "old version"

[2018-01-17 04:55] bhatasif17 opened #40 "bad_token on registration"
Hi

I am trying to use WhatsApINet and I failed, getting bad_token response. I have a few questions:

1- How can I see the timestamp (It is the App release date. Please correct me if I am wrong.) in whatsapp appended to the token?

2- I am using Iphone 6. Is it necessary to set the userAgent as IPhone 6? If so, is this correct
     "WhatsApp/2.18.11 ios/11.2.2 Device/Iphone-Asif Bhat Iphone"?

Tha

[2018-03-24 23:04] H1-N1 commented on #40
did you fund anything
also i dont get any error nada but no sms recieve by whatsapp ...

[2020-02-19 18:57] #27 closed, assigned to nobody